
:root {
    --colorObaNeutralColorGray50: #000000;    
    --colorObaNeutralColorGray100: #1c1b1f;    
    --colorObaNeutralColorGray200: #313033;    
    --colorObaNeutralColorGray300: #484649;    
    --colorObaNeutralColorGray400: #605d62;    
    --colorObaNeutralColorGray500: #787579;    
    --colorObaNeutralColorGray600: #939094;    
    --colorObaNeutralColorGray700: #c9c9ca;    
    --colorObaNeutralColorGray800: #f2f2f2;    
    --colorObaNeutralColorGray900: #ffffff;    
    --colorObaPrimaryColorPrimary50: #000000;    
    --colorObaPrimaryColorPrimary100: #002200;    
    --colorObaPrimaryColorPrimary200: #003a00;    
    --colorObaPrimaryColorPrimary300: #005300;    
    --colorObaPrimaryColorPrimary400: #006e00;    
    --colorObaPrimaryColorPrimary500: #0c8b02;    
    --colorObaPrimaryColorPrimary600: #34a625;    
    --colorObaPrimaryColorPrimary700: #6edf58;    
    --colorObaPrimaryColorPrimary800: #c9ffb2;    
    --colorObaPrimaryColorPrimary900: #ffffff;    
    --colorObaSecondaryColorSecondary50: #000000;    
    --colorObaSecondaryColorSecondary100: #281900;    
    --colorObaSecondaryColorSecondary200: #402d05;    
    --colorObaSecondaryColorSecondary300: #594319;    
    --colorObaSecondaryColorSecondary400: #735a2e;    
    --colorObaSecondaryColorSecondary500: #8e7344;    
    --colorObaSecondaryColorSecondary600: #a98c5b;    
    --colorObaSecondaryColorSecondary700: #e3c28c;    
    --colorObaSecondaryColorSecondary800: #ffeed4;    
    --colorObaSecondaryColorSecondary900: #ffffff;    
    --colorObaTertiaryColorTertiary50: #000000;    
    --colorObaTertiaryColorTertiary100: #001e31;    
    --colorObaTertiaryColorTertiary200: #003450;    
    --colorObaTertiaryColorTertiary300: #004b71;    
    --colorObaTertiaryColorTertiary400: #006495;    
    --colorObaTertiaryColorTertiary500: #007eb8;    
    --colorObaTertiaryColorTertiary600: #3798d3;    
    --colorObaTertiaryColorTertiary700: #8bcdff;    
    --colorObaTertiaryColorTertiary800: #e4f2ff;    
    --colorObaTertiaryColorTertiary900: #ffffff;    
    --colorObaExtended1ColorExtended150: #000000;    
    --colorObaExtended1ColorExtended1100: #360f00;    
    --colorObaExtended1ColorExtended1200: #581e00;    
    --colorObaExtended1ColorExtended1300: #7c2d00;    
    --colorObaExtended1ColorExtended1400: #a43e00;    
    --colorObaExtended1ColorExtended1500: #cc4f00;    
    --colorObaExtended1ColorExtended1600: #f36304;    
    --colorObaExtended1ColorExtended1700: #ffb592;    
    --colorObaExtended1ColorExtended1800: #ffede5;    
    --colorObaExtended1ColorExtended1900: #ffffff;    
    --colorObaExtended2ColorExtended250: #000000;    
    --colorObaExtended2ColorExtended2100: #271900;    
    --colorObaExtended2ColorExtended2200: #422d00;    
    --colorObaExtended2ColorExtended2300: #5e4200;    
    --colorObaExtended2ColorExtended2400: #7c5800;    
    --colorObaExtended2ColorExtended2500: #9b6f00;    
    --colorObaExtended2ColorExtended2600: #bc8800;    
    --colorObaExtended2ColorExtended2700: #febb10;    
    --colorObaExtended2ColorExtended2800: #ffefd4;    
    --colorObaExtended2ColorExtended2900: #ffffff;    
}