
:root {
    --shadowObaElevationElevation01: 0px 2px  1px   0px    #00000040;    
    --shadowObaElevationElevation02: 0px 3px  1px   0px    #00000040;    
    --shadowObaElevationElevation03: 0px 8px  6px   0px    #00000040;    
    --shadowObaElevationElevation04: 0px 10px  8px   0px    #00000040;    
    --shadowObaElevationElevation05: 0px 12px  10px   0px    #00000040;    
}